/* Layout.css */
.sidebar-col {
  position: relative;
  min-height: 100vh;
  background-color: #343a40;
  z-index: 1000;
  transition: all 0.3s ease;
}

.toggle-sidebar-col {
  position: absolute;
  top: 50%; /* Centramos el botón verticalmente */
  left: 200px; /* Posiciona el botón a la derecha del sidebar cuando está visible */
  transform: translateY(-50%);
  z-index: 1001;
  transition: left 0.3s ease;
}

.toggle-sidebar-button {
  width: 50px;
  height: 50px;
  background-color: #343a40;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-sidebar-button:hover {
  background-color: #555;
}

.sidebar-col.hidden {
  display: none;
}

/* Comportamiento para pantallas pequeñas */
@media (max-width: 767px) {
  .sidebar-col {
    position: fixed; /* Fija el sidebar para que se superponga al contenido */
    top: 0;
    left: 0;
    width: 200px;
    transform: translateX(0); /* Asegura que esté visible al inicio */
  }

  .sidebar-col.hidden {
    transform: translateX(-100%); /* Mueve el sidebar fuera de la pantalla cuando está oculto */
  }

  .toggle-sidebar-col {
    position: fixed;
    left: 200px;
  }

  .toggle-sidebar-col.hidden {
    left: 0;
  }
}

/* Comportamiento para pantallas grandes */
@media (min-width: 768px) {
  .sidebar-col {
    min-width: 200px; /* Asegura que el sidebar ocupa su espacio normal */
    position: relative; /* Resetea la posición para que no sea superpuesto */
    transform: none; /* No aplica transformación */
  }

  .toggle-sidebar-col {
    left: 280px; /* Asegura que el botón esté al lado del sidebar */
  }

  .toggle-sidebar-col.hidden {
    left: 0;
  }
}
