.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente el contenido */
  justify-content: center; /* Centra verticalmente el contenido */
  height: 100%; /* Asegura que el sidebar ocupe toda la altura disponible */
}

.sidebar {
  width: 100%;
  transition: transform 0.3s ease;
}

.sidebar.hidden {
  display: none;
}
