/* Estilos para hacer la primera columna fija */
.fixed-table-container {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.fixed-table-container table {
    width: auto;
    border-collapse: separate;
}

.fixed-first-column {
    position: -webkit-sticky; /* para Safari */
    position: sticky;
    left: 0;
    background-color: white; /* asegura que la columna fija tenga fondo para no ver datos "tras" ella */
    z-index: 1; /* asegura que la columna fija se muestre sobre el scroll de otras columnas */
}