/* Estilos para el select personalizado */
.custom-style-select {
    border: 1px solid transparent; /* Borde transparente */
    background-color: rgba(255, 255, 255, 0.7); /* Fondo inicial, ajusta según sea necesario */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); 
    /* Sombra similar a la de los Form.Control */
    transition: border-color 0.2s, background-color 0.2s; /* Transición suave */
  
    &:focus {
      border-color: #80bdff; /* Cambia el color del borde al seleccionar */
      background-color: white; /* Cambia el fondo al seleccionar */
    }
  }

  /* Asegúrate de agregar este CSS al archivo de estilos */

.brand-text {
  font-size: 1.5rem; /* Tamaño por defecto */
}

.welcome-text {
  font-size: 1.2rem; /* Tamaño por defecto */
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 993px) {
  .brand-text {
    font-size: 1.2rem; /* Reduce el tamaño del logo en pantallas pequeñas */
  }

  .welcome-text {
    font-size: 1rem; /* Reduce el tamaño del texto de bienvenida */
  }
}

@media (max-width: 576px) {
  .brand-text {
    font-size: 1rem; /* Más pequeño para pantallas extra pequeñas */
  }

  .welcome-text {
    font-size: 0.9rem; /* Ajuste aún menor para texto de bienvenida */
  }
}

.truncated-text {
  max-width: 200px; /* Puedes ajustar el tamaño máximo según tus necesidades */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}